.my-nav{
    position: fixed;
    background-color: white;
    opacity: 0.9;
}
.div_collapse{
    
}
.ul_navbar-nav{
   
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}
.hero{
    min-height: 100vh;
    background-image: url(hero.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero_text{
    border: 2px solid red;
}